@model IEnumerable<TaskPracticeOrder.Models.ViewModels.OrderViewModel>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Items</h2>
    </div>
    <div class="col-6 text-end">
        @* <a class="btn btn-info" asp-action="Create">Add new Item</a>*@
    </div>
    <br />  <br />
    <form method="post" action="Create" class="col-12" id="OrderForm">
        <div class="col-12">
            <table class="table table-striped  border" id="tblOrders">
                <tr>

                    <th>
                        Items
                    </th>
                    <th>
                        UnitType
                    </th>
                    <th>
                        Price
                    </th>

                    <th>
                        Quantity
                    </th>
                    <th>
                        Select To Order
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.ItemName
                            @*<input name="ItemName" asp-for="@item.ItemName" disabled value="@item.ItemName" />*@

                            <input type="hidden" name="ItemId" asp-for="@item.ItemId" />
                            <input type="hidden" name="UnitId" asp-for="@item.UnitId" />
                            <input type="hidden" name="OrderId" asp-for="@item.OrderId" />
                        </td>
                        <td>
                            @item.UnitType
                        </td>
                        <td>
                            @item.Price
                        </td>
                       
                        <td>
                        <input name="Quantity" asp-for="@item.Quantity" value="@item.Quantity" id="Quantity" type="number" min="1" step="1" style="width:80px; height:30px" />
                        </td>
                        <td>
                            <input name="checkbox" id="checkboxn" type="checkbox" style="width:40px; height:30px" />
                        </td>

                    </tr>
                }
            </table>
        </div>
        <input name="submit" type="submit" style="width:200px" value="Order" class="btn btn-primary" />
    </form>

</div>

@section Scripts{
    <script>
        $(function() {
            $(':submit').click(function(event) {
                event.preventDefault();
                //define an array to store the selected AddQuestionViewModel list.
                var selectedModel = [];
                //loop through all checked checkbox.
                $("input[type='checkbox']:checked").each(function(index, item) {
                    //get current row
                    var tr = $(item).closest('tr');
                    //define an object to store the AddQuestionViewModel information.
                    var model = new Object();

                    //using find method to find element from current row, and then get the value.
                    model.ItemId = $(tr).find("input[name='ItemId']").val();
                    model.ItemName = $(tr).find("input[name='ItemName']").val();
                    model.Price = $(tr).find("input[name='Price']").val();
                    model.UnitId = $(tr).find("input[name='UnitId']").val();
                    model.UnitType = $(tr).find("input[name='UnitType']").val();
                    model.Quantity = $(tr).find("input[name='Quantity']").val();
                    //  model.checkbox = $(tr).find("input[name='checkbox']").val();

                    selectedModel.push(model);
                });
                var frm = $('#OrderForm');
                $.ajax({
                    url: frm.attr('Create'),
                    method: "POST",
                    data: { orderViewModel: selectedModel },
                }).done(function(response) {
                    window.location.href = response.redirectToUrl;
                });

            });
        });
    </script>
}


